* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  text-align: center;
}

#not_found {
    margin-top: 10em;
}

#not_found img {
  max-width: fit-content;
}

.scene {
  position: relative;
  width: 460px;
  height: 215px;
  margin: auto;
  margin-top: 10em;
  perspective: 1000px;
}

.controls {
    margin-top: 300px;
}

.carousel {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
}

.carousel__cell img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel__cell a {
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 10px;
  border-width: thin;
  border-color: rosybrown;
  border-style: solid;
  position: relative;
  top: -30px;
}

.carousel__cell:nth-child(1) { transform: translateZ(-555px) rotateY(0deg) translateZ(555px); }
.carousel__cell:nth-child(2) { transform: translateZ(-555px) rotateY(45deg) translateZ(555px); }
.carousel__cell:nth-child(3) { transform: translateZ(-555px) rotateY(90deg) translateZ(555px); }
.carousel__cell:nth-child(4) { transform: translateZ(-555px) rotateY(135deg) translateZ(555px); }
.carousel__cell:nth-child(5) { transform: translateZ(-555px) rotateY(180deg) translateZ(555px); }
.carousel__cell:nth-child(6) { transform: translateZ(-555px) rotateY(225deg) translateZ(555px); }
.carousel__cell:nth-child(7) { transform: translateZ(-555px) rotateY(270deg) translateZ(555px); }
.carousel__cell:nth-child(8) { transform: translateZ(-555px) rotateY(315deg) translateZ(555px); }
